API_KEY="123456789$"
API_KEY_ADMIN="admin-key-here"

# Authentication
JWT_SECRET="your-super-secret-jwt-key-here-make-it-long-and-random"
MAILGUN_DOMAIN="your-domain.com"
MAILGUN_API_KEY="key-1234567890abcdef1234567890abcdef"
FROM_EMAIL="noreply@your-domain.com"
FRONTEND_URL="http://localhost:8787"
SHORT_DOMAIN="rdrx.co"
ADMIN_UID="12345678901234567890" # Example UID for admin user
R2_URL="htps://cdn.rdrx.co"

# Optional: Disable user signups (set to "true" to disable)
DISABLE_SIGNUPS="true"
